.bg-A{
	background-color: #f4f4f4 !important ;
  	font-family: 'Comfortaa';
  	
}
.bg-nav
{	background-image: linear-gradient(to top, #f36522, #cf0f04);
	color:;
}

.nav-link
{ 	color: whitesmoke;
  	font-family: 'Comfortaa';
}

.here
{	color: whitesmoke;
	font-family:'Comfortaa' ;
	background-color: #6FCB9F;	
	border-radius: 18px;
}